html{
	background-image: url("bg.png") no-repeat center fixed;

}
		
.links a:hover{
	color: black;
	font-size: 30px;
	cursor:url();
}

h1{
	text-align: center;
}

.container{
	display: flex;
}
















}
		
		